#topbar {

			width:1300px;
			margin:0 auto;
			height: 40px;

		}

		body{

			margin:0;
			padding:0;
			font-family: Helvetica, Arial, sans-serif;

		}

		#logo{

			margin-top:5px;
			float:left;
			margin-right:8px;
			margin-left:17px;
		}

		.topbar-section{

			float:left;
			border-left:1px #cccccc solid;
			height:100%;

		}
		#signin-image{
			margin-left:5px;
			margin-top:5px;
			float:left;

		}

		#signin-text{

			font-weight:bold;
			font-size:90%;
			position:relative;
			top:10px;
			padding-right:80px;

		}

		#arrow{

			height:40px;


		}

		#bell{

			width:30px;
			margin-bottom:5px;
			margin-right:10px;

		}

		#belldiv{

			float:left;

		}

		.topbar-menu{

			font-weight:bold;
			font-size:100%;
			padding:10px 15px 0 15px;
			height:30px;

		}

		#darrow{

			width:15px;
			margin-left:20px;

		}

		#searchbox{

			background-color:#E4E4E4;
			margin:10px 0px;
			margin-left:20px;
			padding:5px 0 5px 5px;
			font-weight:bold;
			float:left;
			border:none;
		}

		#mfg{

			float:left;
			margin-top:10px;
			height:25px;

		}

		.clear{

			clear:both;

		}

		#redbar{

			background-color:#BA1818;
			width:100%;
			height:58px;
			margin:0 auto;

		}

		#newstext{



			float:left;
			font-size:45px;
			color:white;
			margin-left:-323px;

		}

		#redmenu{

			height:50px;
			width:1300px;
			background-color:#A91717;
			margin:0 auto;

		}

		#redmenu-container{

			background-color:#A91717;
			width:100%;

		}

		.red-menu{
			float:left;
			font-weight:;
			font-size:80%;
			color:white;
			padding:7px 10px 0 15px;
			margin-top:10px;
			border-right:1px #696969 solid;
			height:20px;

		}

		.clear{

			clear:both;

		}

		#redmenu a{

			color:white;
			text-decoration:none;
			}

		#redmenu a:hover{

			text-decoration:underline;

		}

		#page-container{

			width:1300;
			margin:0 auto;
			background-color:white;
			position:relative;
			left:15px;
		}

		h2{

			font-weight:normal;
			margin-top:40px;
			font-size:20px;
			border-bottom: 2px solid #a91717;
			width:105px;

		}

		.noborder{

			border:none; !important

		}
		#downarrow{


			position:relative;
			top:10px;

		}

		h3 a{

			color:black
			font-size: 30px;
			text-decoration:none;

		}

		h3 a:hover{

			color:#1167a8;

		}

		 #page-container {

                width:1300px;
                margin: 0 auto;


            }

            h2 {

                font-weight: normal;
                margin-top:40px;
                font-size:20px;
                border-bottom: 2px solid #a91717;
                width:105px;

            }

            h3 a {

                color:black;
                font-size: 30px;
                text-decoration: none;

            }

            h3 a:hover {

                color:#1167a8;

            }

            #article-summary {

                color: #5a5a5a;
                width:250px;
                float:left;

            }

            .clock {

                height:15px;
                position: relative;
                top:2px;

            }

            .topic-link {

                text-decoration: none;
                color:#a91717;
                border-left: 1px solid #CCCCCC;
                padding-left: 10px;

            }

            #article-summary a:hover {

                color:#1167a8;

            }

            .date {

                padding-right:10px;
                color: #5a5a5a;

            }

            #article-container {

                float:left;
                width:670px;
                border-right: 1px solid #CCCCCC;
                padding-right: 20px;

            }


            #main-article-image {

                width:400px;
                margin-left:15px;

            }

            #article-hr {

                border-top:1px solid #a91717;
                width:50px;

            }

            .article-link {

                color:black;
                text-decoration:none;

            }

            #watch-listen {

                margin-left:20px;
                width:280px;
                float:left;
            }

            h4 {

                font-weight: normal;
                font-size:20px;

            }

            .article-side-image {

                float:left;
                width:90px;
                margin-right:10px;

            }

            .watch-listen-link {

                text-decoration: none;
                color:black;
                font-weight:bold;
                font-size:18px;

            }

            .watch-listen-link:hover {

                color:#1167a8;

            }

            .side-article {

                float:right;
                width:180px;
                position:relative;
                top:-18px;
            }

            .no-border {

                border-left:none;
                padding:0;
            }

            .border-right {

                border-right: 1px solid #CCCCCC;

            }
